@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>The organization presents the results of the municipal elections in all parts of the country. RESULTS AND SECTORS BY GROUPS, BY SAMPLES AND PROJECTIONS. The years that have passed and the presentation of histograms in order to be visual and not just numerical.The site will present the results of the municipal elections and will show a breakdown according to different candidates and statistics.</p>
