@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Why we here</h1>
    <p>
        The organization presents the results of the municipal elections in all parts of the country.
        The years that have passed and the presentation of histograms in order to be visual and not just numerical.
        The site will present the results of the municipal elections and will show a breakdown according to different candidates and statistics.
    </p>
</div>

<div class="row">
    <div class="col-md-4">
        <p>
            <h2>Persona</h2>
            <img src="@Url.Content("~/Content/Images/female.jpg")" width="85" height="85" /><br>
            <strong>Personal InformationName:</strong> Avigal Ben<br>
            <strong>HaimAge:</strong> 30 years<br>
            <strong>Gander:</strong> Female<br>
            <strong>Place of residence:</strong> Karmiel<br>
            <strong>Education:</strong> B.Sc. Software Engineering<br>
            <strong>Work place:</strong> "IBS"<br>
            <strong>Status:</strong> Married plus 1<br>
        </p>
    </div>
    <div class="col-md-4">
        <p>
             
            <img src="@Url.Content("~/Content/Images/Homepage1.jpg")" width="300" height="300" />
        </p>
    </div>
    <div class="col-md-4">
        <p>
            <img src="@Url.Content("~/Content/Images/Homepage2.jpg")" width="300" height="300" />
        </p>
    </div>
</div>

<div class="row">

            <h2>Avigal Story</h2>
            <p>Avigal as an active and pro-animal woman chooses her choices for the mayor of Karmiel according to things that are important to her and her family.<br>
            Avigal has 3 animals in her house (2 dogs and parrots). Every day when she goes out for my morning run with her dogs and also for her dogs to relieve<br>
            themselves, run and play, she notices that the public garden that comes to her every day is closed and blocked for an unknown reason.<br>
            Irritated as she was, she gathered her feelings and called 911 to ask what about the public garden (a dog's garden) and why was it closed?Was surprised<br>
            to receive a very uncharacteristic response to a municipal worker, which is "cuts." Avigail, together with her husband, chose to live in Carmiel because<br>
            of the city's pet-friendly nature. Moreover, in the last elections, she supported a candidate who identified with animals and reiterated that more parks<br>
            and more gardens, especially for animals, would be established in the city.</p>
</div>
