@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Why we here</h1>
    <p>The organization presents the results of the municipal elections in all parts of the country. RESULTS AND SECTORS BY GROUPS, BY SAMPLES AND PROJECTIONS. The years that have passed and the presentation of histograms in order to be visual and not just numerical.The site will present the results of the municipal elections and will show a breakdown according to different candidates and statistics.</p>
</div>

<div>
<h1>Persona</h1>
<p class="lead">
<p> Personal InformationName: Avigal Ben</p>
<p>HaimAge: 30 years</p>
<p>Gander: Female</p>
<p>Place of residence: Karmiel</p>
<p>Education: B.Sc. Software Engineering</p>
<p>Work place: "IBS"</p>
<p>Status: Married plus 1</p>
</p>
</div>
<div>
    <h2>Why?</h2>
    <p>Avigal as an active and pro-animal woman chooses her choices for the mayor of Karmiel according to things that are important to her and her family. Avigal has 3 animals in her house (2 dogs and parrots). Every day when she goes out for my morning run with her dogs and also for her dogs to relieve themselves, run and play, she notices that the public garden that comes to her every day is closed and blocked for an unknown reason. Irritated as she was, she gathered her feelings and called 911 to ask what about the public garden (a dog's garden) and why was it closed?Was surprised to receive a very uncharacteristic response to a municipal worker, which is "cuts." Avigail, together with her husband, chose to live in Carmiel because of the city's pet-friendly nature. Moreover, in the last elections, she supported a candidate who identified with animals and reiterated that more parks and more gardens, especially for animals, would be established in the city.</p>
</div>


